.header {
  
  box-shadow: none;

  &__container {
    max-width: var(--container-width) !important;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    min-height: 60px;
    // @include burger-X(40px, 40px, 2px, #000, 1200px);
  
}

    &__logo {
      flex-grow: 1;
      z-index: 102;
    }
    
    &__icons {
          flex-grow: 3;
          display: flex;
          justify-content: end;
          gap: 64px;
        }
    
    &__icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      color: var(--middle-color);
      transition: color 0.5s;
  
      &:hover {
        color: #91ac46;
      }
    }

   



		// .header__burger

		&__burger {
      width: 30px !important;
      height: 30px !important;
      span{background-color: var(--light-color);
      height: 3px;}
      
		}

   




  

 

}
